<style>
    .post-meta {
        display: flex;
        flex-wrap: wrap;
    }

    .post-meta-child {
        display: flex;
        align-items: center;
    }

    .fa-solid {
        margin-right: 5px;
    }
</style>

<span class="post-meta">
    <span class="post-meta-child">
        <i class="fa-solid fa-calendar"></i>
        <span>
            {{- (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
            &nbsp;&nbsp;
        </span>
    </span>
    <span class="post-meta-child">
        <i class="fa-solid fa-clock"></i>
        <span>
            {{- .ReadingTime }} 分鐘
            &nbsp;&nbsp;
        </span>
    </span>
    <span class="post-meta-child">
        <i class="fa-solid fa-file-lines"></i>
        <span>
            {{- .WordCount }} 字
            &nbsp;&nbsp;
        </span>
    </span>
    <span class="post-meta-child">
        <i class="fa-solid fa-at"></i>
        <span>
            {{- with (partial "author.html" .) }}
            {{- . }}
            {{- end }}
            &nbsp;&nbsp;
        </span>
    </span>
    <span class="post-meta-child">
        <i class="fa-solid fa-tag"></i>
        <span>
            {{- if .Params.tags }}
            <span class="post-tags-meta">
                {{- range $index, $value := ($.GetTerms "tags") }}
                    {{- if eq $index 0}}<a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .Name }}</a>
                    {{- else }}、<a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .Name }}</a>
                    {{- end }}
                {{- end }}
            </span>
            {{- end }}
        </span>
    </span>
</span>